<section class="createItem">
    <form class="form post-item-form">
        <input name="name" class="name" placeholder="Item Name..." />
        <input name="description" class="description" placeholder="Item Description..." />
        <input name="price" class="price" placeholder="Item Price..." />
        <button type="submit" class="postBtn">Post Item</button>
    </form>
</section>