
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>            
<div class="navbar">
    <div class="html-container">
      <div class="html-section">
        <div class="html-project">
          <div class="navigation">
            <nav>
              <ul class="nav-type">
                <li><a href="#" class="active">Home</a></li>
                <div class="dropdown">
                <li><a class="active dropbtn">Categories</a></li>
                     <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                     </div>
                </div>
                                
                <div class="dropdown">
                <li><a class="active">Account</a></li>
                <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <button class="logoutbtn"><a id="logout">Logout</a></button>
                </div>
                </div>
                <li><a><i id="cart" class='fa fa-shopping-cart'></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
</div>


<div class="row">
  <div class="column">
    <h2>Furniture</h2>
    <div class="card" style="background-image: url(https://www.essentialhome.eu/inspirations/wp-content/uploads/2022/07/INSPIRATIONS-Top-13-Luxury-Home-Decor-Ideas-for-a-High-End-Interior.png);
"></div>
  </div>
  <div class="column">
    <h2>Rugs</h2>
    <div class="card" style="background-image: url(https://lirp.cdn-website.com/c7e92829/dms3rep/multi/opt/img003-640w.jpg);"></div>
  </div>
  <div class="column">
    <h2>Office</h2>
    <div class="card" style="background-image: url(https://www.cyruscrafts.com/img/cms/blog/office-decor/office-decor.jpg);"></div>
  </div>
</div>

<div class="row">
  <div class="column">
    <h2>Outdoor</h2>
    <div class="card" style="background-image: url(https://cdn.mos.cms.futurecdn.net/9JUMy6YeLepGTZf9Tx9vSV.jpg);"></div>
  </div>
  <div class="column">
    <h2>Antique</h2>
    <div class="card" style="background-image: url(https://www.honestlymodern.com/wp-content/uploads/2017/03/Great-Way-to-Include-Antiques-into-Any-Decor-700.jpg);"></div>
  </div>
  <div class="column">
    <h2>Lighting</h2>
    <div class="card" style="background-image: url(https://ae01.alicdn.com/kf/Sdd5f356d00ad42efba48e18b7948ea6fN/Nordic-Ceiling-Chandelier-E27-Led-Minimalist-Pendant-Lights-220V-Hanging-Lamp-For-kitchen-Dining-Living-Room.jpg_Q90.jpg_.webp);"></div>
  </div>
  
</div>

            
      