body {
  background: linear-gradient(to right, #51A3A3, #F3DFA2);
}

h2 {
  text-align: center;
  font-family: verdana;
  font-weight: lighter;
  color: #956d7f;
  font-size: 35px;
  margin-top: 5%;
}

.logoutbtn:hover {
  background-color: #efcf6e;
}

.logoutbtn {
  width: 100%;
  background-color: #F3DFA2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.navbar{
    position: relative;
    margin-top: 10px;}


.nav-type{
  display: flex;
  justify-content: space-evenly;
}

ul {
  position: static;
  list-style-type: none;
  display: flex;
  padding: 18px 0;
  background-image: linear-gradient(-45deg, #d74178bc, #ff4040c2, #ff0d6ec3, #ff8133cf, #d74178bc);
  border-radius: 40px;
  box-shadow: 3px 3px 20px #ff3352;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


li a {
  color: #fff;
  text-decoration: none;
  padding: 45px 45px;
  font-family: verdana;
  font-weight: lighter;
  font-size: 24px;
  letter-spacing: 1px;
}


.active:hover {
  color: #fff;
}

.dropbtn {
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    justify-content: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #F3DFA2;
    border-radius: 20px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover{
    color: #ff3352;
  }
  
 .dropdown:hover .dropdown-content {
    display: block;
}
  
#cart{
    font-size: 30px;
}

.column {
    width: 33%;
    height: auto;
    padding: 10px 10px;
  }
  
  .row {margin: 0 -5px;
    justify-content: space-evenly;
}
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px;
    padding: 50%;
    text-align: center;
    background-size: cover;
  }

  .card:hover{
    border: solid #F3DFA2;
  }

